<div  ng-controller="cenInformationCtrl" class="container-fluid">
    <div class="jumbotron">
        <h2 class="text-center">Center Profile</h2>
        <h2 class="text-center">{{centers.centerName}}</h2>
    </div>

    <br/>

    <div class="row" id="rcorners2">
        <!-- First Column -->
        <div class="col-xs-6 col-sm-4">
            <p><strong>Tier:&nbsp;&nbsp;</strong>{{tier}}</p>
            <p><strong>Segment:&nbsp;&nbsp;</strong>{{segment}}</p>
            <p><strong>Developer:&nbsp;&nbsp;</strong></p>
            <p><strong>Occupancy %:&nbsp;&nbsp;</strong>{{centers.occupancyPercent}}</p>
        </div>

        <!-- Second Column -->
        <div class="col-xs-6 col-sm-4">
            <p><strong>Total Center Size:&nbsp;&nbsp;</strong>{{totalCenterSize| number: 0}}</p>
            <p><strong>Mall Tenant GLA:&nbsp;&nbsp;</strong>{{centers.GLAExcludingAnchors| number:0}}</p>
            <p><strong>Center Volume:&nbsp;&nbsp;</strong>{{centerVol| number:0}}</p>
            <p><strong>LL Specialty Store Prod:&nbsp;&nbsp;</strong>{{llSpecStrProd| number:0}}</p>
        </div>

        <!-- Third Column -->
        <div class="col-xs-6 col-sm-4">
            <strong>Center Address:</strong><br>
            {{centers.streetAddress1}}<br>
            {{centers.city}},&nbsp;{{centers.state}}&nbsp;&nbsp;{{centers.zip}}<br>
            {{centers.country}}
            <br><br>
            <p><strong>Metro Area:&nbsp;&nbsp;</strong>{{metroArea}}</p>
            <p><strong>Metro Pop:&nbsp;&nbsp;</strong>{{metroPop | number:0}}</p>
        </div>
    </div>

</div>