<div  ng-controller="cenNameLikeCtrl" class="container-fluid">
    <h2 class="text-center">Center By Name</h2>
    <br/>
    
    <p>
        <input type="text" ng-model="partialCenName"  placeholder="Search..." focus="true"/>
        <button type="button" class="btn btn-default btn-sm" ng-click="findCenters()">
          <span class="glyphicon glyphicon-search"></span> Search 
        </button>
    </p>
    
    <br/>

    <div  class="col-xs-4">
        
        <div class="well"
             ng-repeat="d in thedata| orderBy: 'name'">

            <strong>{{d.name}}</strong>

            <a ng-href="#/cenInfo" class="btn btn-success pull-right" ng-click="setCenterName(''{{d.name}}'')">Select</a>

        </div>
    </div>
</div>

