<div  ng-controller="cenInformationCtrl" class="container-fluid">
    <h2 class="text-center">Center Information</h2>
    <br/>
    
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <p><strong>Center Name:</strong>&nbsp;{{centers.centerName}}</p>
            <p>
                <strong>Center Address:</strong><br>
                {{centers.streetAddress1}}<br>
                {{centers.city}},&nbsp;{{centers.state}}&nbsp;&nbsp;{{centers.zip}}<br>
                {{centers.country}}            
            </p>
        </div>
        <div class="col-xs-6 col-sm-4">
            <strong>Number of open Stores:</strong>&nbsp;{{centers.numberofOpenStores}}<br>
            <strong>Lease Plan Date:</strong>&nbsp;{{centers.leasePlanDate}}
            
        </div>
        <div class="col-xs-6 col-sm-4">
            {{getCenterName()}}
        </div>
    </div>
</div>
