<div  ng-controller="cenNameLikeCtrl" class="container-fluid">
    <h2 class="text-center">Center By Name</h2>
    <br/>
    
    <p>
        <input type="text" ng-model="partialCenName"  placeholder="Search..." focus="true" id="searchText"
            ng-keyup="$event.keyCode == 13 ? findCenters() : null"/>
        <button type="button" class="btn btn-default" ng-click="findCenters()" id="searchBut">
             <i class="fa fa-search"></i>
        </button>
    </p>
    
    <br/>

    <div  class="col-xs-4">
        
        <div class="well"
             ng-repeat="d in thedata| orderBy: 'name'">

            <strong>{{d.name}}</strong>

            <a ng-href="#/cenInfo" class="btn btn-success pull-right" ng-click="setCenterName(d.name);setProjectEntityID(d.projectEntityPK)">Select</a>

        </div>
    </div>
</div>

