/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 9, 2016, 9:52:01 AM
    Author     : kbeam
*/
.fa-envelope {
  color: white;
}

.fa-print {
  color: white;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
    font-family: Lato;
}

#btnCustom {
    margin-top: 10px;
}

#searchText {
    font-family: Lato;
    margin-left: 2px;
    font-size: 15px;
    height: 34px;
    width: 250px;
    padding-left : 10px;
}

#searchBut {
    margin-bottom: 4px;
    margin-left: -4px;
    border-radius: 0;
}

#butSelectLseNum {
    margin-top: -8px;
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    height: auto;    
}

.expCat label, .expCat span {
  display:inline-block;
}

.expCat label {
  width:200px; /* or whatever size you want them */
}

#cenInfoForm [class*="col-"]{
    margin-bottom: -10px;
}

#jumbotronCenInfoForm {
    margin-bottom: 10px;
}

.validationError {
    color:red; 
    padding-left: 10px;
    font-size: 18px;
}

label {
    font-family: Lato;
}

h1 {
	font-family: Lato;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
}
h2 {
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 19.9px;
}
h3 {
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 15.4px;
}

body {
    padding-bottom: 70px;
}

p {
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Lato;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Lato;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
