<div  ng-controller="leaseSearchCtrl" class="container-fluid">
    <h2 class="text-center">Lease By Number</h2>
    <br/>
    
    <p>
        <input type="text" ng-model="leaseNumber"  placeholder="Search..." focus="true" id="searchText"
               ng-keyup="$event.keyCode == 13 ? findLease(leaseNumber) : null"/>
        <button type="button" class="btn btn-success" ng-click="findLease(leaseNumber)" id="searchBut">
             <i class="fa fa-search"></i>
        </button>
        <span ng-if="leases === null" class="validationError">** Entered lease number not found. **</span>
    </p>
    
    <br/>

    <div class="row" ng-show="show">
        <!-- First Column -->
        <div  class="col-md-4">
            <div class="well">
                <h3>{{leases.name}} - {{projectEntity.name}}</h3>
            </div>
            <div>
                <p><label>Lease End Date:</label>&nbsp;&nbsp;{{leases.leaseEndDate | date:"MM/dd/yyyy"}}</p>
                <p><label>Rentable Area:</label>&nbsp;&nbsp;{{leases.rentableArea | number: 0}}</p>
            </div>
        </div>
        <!-- Second Column -->
        <div  class="col-md-4">
            
        </div>
        <!-- Third Column -->
        <div  class="col-md-4">
            
        </div>
    </div>
    
</div>
