<div  ng-controller="leaseSearchCtrl" class="container-fluid">
    <h2 class="text-center">Lease By Name</h2>
    <br/>
    <h3 class="text-center" ng-show="showDetails">{{leases[index].name}} - {{leases[index].facName}}</h3>
    <br/>
    <p>
        <input type="text" ng-model="leaseName"  placeholder="Search..." focus="true" id="searchText"
               ng-keyup="$event.keyCode == 13 ? findLeasesByName(leaseName) : null"/>
        <button type="button" class="btn btn-default" ng-click="findLeasesByName(leaseName);show = false;showDetails = false" id="searchBut">
            <i class="fa fa-search"></i>
        </button>
    </p>

    <br/>

    <div class="row" ng-cloak>
        <div  class="col-md-5">
            <div ng-show="show" ng-cloak ng-repeat="lease in leases">
         
                <a id="btnCustom" class="btn btn-block btn-default btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off" 
                   ng-click="getExpenseDetails(lease.leaseNumber,$index)" role="button">
                    <strong>{{lease.name}} - {{lease.facName}}</strong>
                </a>
                
            </div>
        </div>
        <div ng-if="dataLoading" style="padding-left : 10px;">
                <em>Loading...</em>
            </div>
        <div  class="col-md-3" ng-show="showDetails">
            <div ng-if="dataLoading" style="padding-left : 10px;">
                <em>Loading...</em>
            </div>
            <fieldset class="expCat">
                <legend>General Information</legend>
                <div>
                    <p><label>Lease End Date:</label><span>{{leases[index].leaseEndDate | date:"MM/dd/yyyy"}}</span></p>
                    <p><label>Rentable Area:</label><span>{{leases[index].rentableArea | number: 0}}</span></p>
                </div>
            </fieldset>
        </div>
        <div  class="col-md-4" ng-show="showDetails">
            <fieldset class="expCat">
                <legend>Expense Categories</legend>
                <!-- comment <p><label>Expense Category</label></p> -->
                <div ng-repeat="expense in expenses">
                
                    <p>
                        <label>{{expense.expenseName}}:</label>
                        <span>{{expense.amount/expense.rentableArea | number: 2}}</span>
                    </p>
                
                </div>
            </fieldset>
        </div>
    </div>
</div>
