<div class="panel panel-default row" ng-controller="queryListCtrl">
    <div class="col-xs-3">
        <a ng-click="selectEntity()"
           class="btn btn-block btn-default btn-lg">Home</a>
           <a ng-repeat="query in data.queries  | orderBy: 'entity' | unique: 'entity'"
               ng-click="selectEntity(query)" class="btn btn-block btn-default btn-lg"
               ng-class="getEntityClass(query)">
                  {{query}}
           </a>
    </div>

    <div class="col-xs-8">
        <div class="well" 
             ng-repeat="query in data.queries | filter:entityFilterFn">
            
            <h3>
                <strong>{{query.name}}</strong>
            </h3>
            
            <a href="#/{{query.urlroute}}" class="btn btn-success pull-right">Select</a>

            <span class="lead">{{query.description}}</span>

        </div>

    </div>
 </div>
