<div class="panel panel-default row" ng-controller="queryListCtrl">
    <div class="col-xs-3">
        <a ng-click="selectEntity()"
           class="btn btn-block btn-default btn-lg"><h2>Home</h2></a>
           <a ng-repeat="query in data.queries  | orderBy: 'entity' | unique: 'entity'"
               ng-click="selectEntity(query)" class="btn btn-block btn-default btn-lg"
               ng-class="getEntityClass(query)">
               <h2>{{query}}</h2>
           </a>
    </div>

    <div class="col-xs-8">
        <div class="well" 
             ng-repeat="query in data.queries | filter:entityFilterFn">
            
            <h2><strong>{{query.name}}</strong></h2>
            
            <a href="#/{{query.urlroute}}" class="btn btn-success pull-right">Select</a>

            <span class="lead">{{query.description}}</span>

        </div>

    </div>
 </div>
